@using SentimentAnalysisApp.SharedModels
@using WebSite.ViewModels
@model CreateSReqViewModel

@using(Html.BeginForm( "CreateSearchRequest", null, FormMethod.Post, new { id = "create_form" } )) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New SearchRequest</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor( model => model.TheSearchRequest.TheSearchKeyword, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.TheSearchRequest.TheSearchKeyword, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.TheSearchRequest.TheSearchKeyword, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.SelectedSources, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.CheckBoxListFor( model => model.SelectedSources,
                                model => MiningSource.AllSources(),
                                option => option,
                                option => Enum.GetName( typeof( SourceOption ), option ),
                                model => model.SelectedSources )

                @Html.ValidationMessageFor( model => model.SelectedSources, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit_button" type="submit" value="Create" class="btn btn-default" />
                <i id="loadingBanner" class="fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#create_form').submit(function () {
            $("#submit_button").attr('disabled', true);
            $("#loadingBanner").show();
        });
    });
</script>