@model IEnumerable<WebSite.Models.FEExecution>

<section class="inspect container-fluid">
    <h3>Executions</h3>
    <br />

    @if(Model == null || Model.Count() == 0) {
        <p>There are no executions data available at the moment.</p>
    } else {
        <div class="row">

            <div class="col-lg-6">
                <h4>Details:</h4>
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Date Started</th>
                            <th>Date Completed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var exec in Model) {

                            <tr class="update-chart-basic">
                                <td>@exec.StartedOn.Value.ToString( "dd MMMM yy" )</td>
                                <td>@exec.FinishedOn.Value.ToString( "dd MMMM yy" )</td>

                                <td class="theDate" style="display:none">@exec.FinishedOn.Value.ToString( "yyyy MM dd" )</td>
                                <td class="posScore" style="display:none">@exec.TheResults.ThePositiveScore</td>
                                <td class="negScore" style="display:none">@exec.TheResults.TheNegativeScore</td>
                                <td class="inspect-button">
                                    <a><i class="fa fa-pie-chart "></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div id="chart-basic-container" class="col-lg-6">
                <h4>Results:</h4>
                <p class="chart-error" style="display:none">There was and error while loading the chart.</p>
                <div id="chart-basic"></div>
            </div>
        </div>
    }

</section>

@if(Model != null && Model.Count() != 0) {
    <section class="inspect container-fluid">
        <h3>Sentiment over time</h3>
        <p>Observe how the overall sentiment (user opinions) develops over different points (executions) in time.</p>
        <br />

        <div id="chart-graph-container">
            <p class="chart-error" style="display:none">There was and error while loading the chart.</p>
            <div id="chart-graph"></div>
        </div>
    </section>
}