@using WebSite.Models
@using WebSite.ViewModels
@model MyRequestsViewModel

@{
    ViewBag.Title = "<SentimentAnalysis App's name pending...>";
}

@section Styles {
    <link href="@Url.Content("~/Content/FluentDisplay.css")" rel="stylesheet" type="text/css" />
}

@if(@Model.TheBannerMsg != null) {
    <div id="bannerMsg" class="alert alert-dismissable @Model.TheBannerMsg.AlertType">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model.TheBannerMsg.Text
    </div>
}

<div class="page-header">
    <h1>My Requests</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Open</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled">

                    @foreach(var item in Model.TheSearchRequests) {
                        if(item.TheStatus == Status.Open) {
                            <li>
                                <span>
                                    @Html.DisplayFor( modelItem => item.TheSearchKeyword )
                                </span>
                                <small><a href="@Url.Action("ExecuteSearchRequest", new { searchRequestID = item.ID})">Execute</a></small>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Pending</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled">

                    @foreach(var item in Model.TheSearchRequests) {
                        if(item.TheStatus == Status.Pending) {
                            <li>
                                <span>
                                    @Html.DisplayFor( modelItem => item.TheSearchKeyword )
                                </span>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Fulfilled</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled">

                    @foreach(var item in Model.TheSearchRequests) {
                        if(item.TheStatus == Status.Fulfilled) {
                            <li>
                                <span>
                                    @Html.DisplayFor( modelItem => item.TheSearchKeyword )
                                </span>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

@Html.Action( "CreateSearchRequest" )

<div class="row" id="textResults">
</div>