@using WebSite.Models
@model LoginViewModel
@{
    ViewBag.TitleTail = "Log In";
}

@section Styles {
    <link href="@Url.Content( "~/Content/customForms.css" )" rel="stylesheet" type="text/css" />
    <link href="@Url.Content( "~/Content/fluentDisplay.css" )" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content( "~/scripts/customForms.js" )"></script>
    @Scripts.Render( "~/bundles/jqueryval" )
}

@if(!ViewData.ModelState.IsValid) {
    <div id="bannerMsg" class="alert alert-dismissable alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Invalid login attempt. Please try again.
    </div>
}

<section class="container-fluid form-section">
    <h1>Log In</h1>
    <br />

    @using(Html.BeginForm( "Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "theForm", role = "form" } )) {
        @Html.AntiForgeryToken()

        <div class="form-group float-label-control">
            @Html.LabelFor( m => m.Email, new { @class = "" } )
            @Html.TextBoxFor( m => m.Email, new { @class = "form-control", placeholder = "Email address", spellcheck = "false" } )
        </div>
        <div class="validation-msg">
            @Html.ValidationMessageFor( m => m.Email, "" )
        </div>

        <div class="form-group float-label-control">
            @Html.LabelFor( m => m.Password, new { @class = "" } )
            @Html.PasswordFor( m => m.Password, new { @class = "form-control", placeholder = "Password" } )
        </div>
        <div class="validation-msg">
            @Html.ValidationMessageFor( m => m.Password, "" )
        </div>

        <button type="submit" class="btn btn-default basic">Log In</button>
    }

</section>